@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-display: var(--font-poppins);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* Titres en police display */
h1,
h2,
h3 {
  font-family: var(--font-display), var(--font-sans), sans-serif;
}
